:root {
    --color-c1: #171717;
    --color-c2: #272727;
    --color-c3: #EDEDED;
    --color-c3--hover: #c9c9c9;
    --color-c4: #AF012D;
    --color-c5: #413F3F;
    --color-c6: #111111;
    --font-type: 'Open Sans', sans-serif;
    --font-type-titles: 'Lato', sans-serif;
    --font-color: #FFFFFF;
    --font-size-title: 2rem;
    --font-size-text: 1.2rem;
}

body {
    background-color: var(--color-c1);
    font-family: var(--font-type);
}

.main {
    margin: 10rem 0;
    min-height: 50vh;
}

.thanks {
    width: 100%;
    margin: auto;
}

.thanks__content {
    color: var(--font-color);
    font-size: var(--font-size-title);
    font-weight: 800;
    text-align: center;
}

.thanks__logo {
    color: var(--color-c4);
    font-family: var(--font-type-titles);
    text-transform: uppercase;
    text-align: center;
    font-size: var(--font-size-title);
    font-weight: 800;
}