<footer class="footer">
    <div class="footer__container">
        <div class="container__info">
            <div class="container container--footer">
                <div class="container__b" style="background-color: #171717;">
                </div>
                <div class="container__a">
                    <div class="container__info">
                        <h3 class="info__title">¿Necesitas M&aacute;s Informaci&oacute;n?</h3>
                        <p class="info__text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias nesci.</p>
                        <a class="g--btns" href="/contacto">Cont&aacute;ctanos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container__links">
            <div class="links__products">
                <a href="#" class="link link--title">Productos</a>
                <div class="links">
                    <a href="#" class="link">Pol&iacute;tica</a>
                    <a href="#" class="link">Seguimiento</a>
                </div>
            </div>

            <div class="links__services">
                <a href="#" class="link link--title">Servicios</a>
                <div class="links">
                    <a href="#" class="link">Solicitudes</a>
                    <a href="#" class="link">Informaci&oacute;n</a>
                </div>
            </div>

            <div class="links__about">
                <a href="#" class="link link--title">MasterBikes</a>
                <div class="links">
                    <a href="#" class="link">Nosotros</a>
                    <a href="#" class="link">Contacto</a>
                </div>
            </div>
        </div>

        <hr>

        <p class="masterbikes">&#169; MasterBikes 2022</p>
    </div>
</footer>